.ui-row {
  display: flex;
  flex-direction: row;
}

.ui-stack {
  display: flex;
  flex-direction: column;
}

.ui-gap-2xs {
  gap: var(--space-2xs);
}
.ui-gap-xs {
  gap: var(--space-xs);
}
.ui-gap-sm {
  gap: var(--space-sm);
}
.ui-gap-md {
  gap: var(--space-md);
}
.ui-gap-lg {
  gap: var(--space-lg);
}
.ui-gap-xl {
  gap: var(--space-xl);
}
.ui-gap-2xl {
  gap: var(--space-2xl);
}

.ui-padding-2xs {
  padding: var(--space-2xs);
}
.ui-padding-xs {
  padding: var(--space-xs);
}
.ui-padding-sm {
  padding: var(--space-sm);
}
.ui-padding-md {
  padding: var(--space-md);
}
.ui-padding-lg {
  padding: var(--space-lg);
}
.ui-padding-xl {
  padding: var(--space-xl);
}
.ui-padding-2xl {
  padding: var(--space-2xl);
}

.ui-align-start {
  align-items: flex-start;
}
.ui-align-center {
  align-items: center;
}
.ui-align-end {
  align-items: flex-end;
}

.ui-justify-start {
  justify-content: flex-start;
}
.ui-justify-center {
  justify-content: center;
}
.ui-justify-end {
  justify-content: flex-end;
}
.ui-justify-between {
  justify-content: space-between;
}
